remind:
  url:
  email_addresses:
    - firstname.lastname@provider.com
    - firstname.lastname@provider.com
  time: '18:00'

smtp:
  username: sender.email.address@provider.com         # this field is required
  password: $password                                 # if this is blank, no authentication is used
  server: smtp.gmail.com
  port: 587